body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    min-height: 100vh
}
header {
    display: flex;
    justify-content: space-between;
    padding: 20px 100px 5px 75px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 25px;
}
a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.upperNav > ul {
    display: flex;
    align-items: center;
    gap: 30px;
}
nav {
    display: flex;
    align-content: center;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}


.blackBar {
    background-color: black;
    height: 40px;
}

footer {
    flex-shrink: 0;
    background-color: black;
    color: white;
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 50px;
}

footer > nav > ul > li > a {
    color: white;
}

footer > nav {
    display: flex;
    flex-direction: column;
}

.bottomNav {
    margin: 20px;
}

.bottomNav > ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

main {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    gap: 100px;
}
.container {
    padding: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.card {
    padding: 16px;
    margin: 16px;
}

.card_content, .card_header {
    border: 1px solid #eee;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 4px;
}

.card_header {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 300px;
    height: 75px;
    margin-bottom: 20px;
}

.card_content {
    display: flex;
    width: 300px;
    height: 250px;
    justify-content: center;
    align-items: center;
}

.chart_card > h2 {
    display: flex;
    justify-content: center;
    align-items: center;

}






.graphContainer{
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 16px;
}

.chart_card{
    width: 50%;
    margin: auto;
}

.chart_card div{
    width: fit-content;
    margin: auto;
}

.chart_card p{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}