<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/OutdoorFusion.css" />
    <title>Bike Store Prestaties</title>
    <div id="Menubalk">
    </div>
    <a href="http://127.0.0.1:5000/"><img src="Afbeeldingen\TheGreatLogo.png" alt="Terug naar het hoofdmenu" /></a>
    <a href="http://127.0.0.1:5000/adventureworks"><img src="Afbeeldingen\TheGreatLogo.png" alt="Naar AdventurWorks" /></a>
    <a href="http://127.0.0.1:5000/verkoopprestaties"><img src="Afbeeldingen\TheGreatLogo.png" alt="Naar Verkoopprestaties" /></a>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div id="top10Categories"></div> <!-- Add the new div for the chart -->

    <script>
        function generateVisualization() {
            var top10CategoriesUrl = '/top10ProductCategories'; // URL for the chart

            Plotly.d3.json(top10CategoriesUrl, function(error, data) {
                if (error) {
                    console.log(error);
                }

                var pieData = [{
                    values: data.data[0].values,
                    labels: data.data[0].labels,
                    type: 'pie'
                }];
                var pieLayout = {
                    title: data.layout.title
                };
                Plotly.newPlot('top10Categories', pieData, pieLayout);
            });
        }

        generateVisualization();
    </script>
</body>
</html>
