<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/OutdoorFusion.css" />
    <title>AdventureWorks Dashboard</title>
    <div id="Menubalk">
    </div>
    <a href="http://127.0.0.1:5000/"><img src="Afbeeldingen\TheGreatLogo.png" alt="Terug naar het hoofdmenu" /></a>
    <a href="http://127.0.0.1:5000/adventureworks"><img src="Afbeeldingen\TheGreatLogo.png" alt="Naar AdventurWorks" /></a>
    <a href="http://127.0.0.1:5000/verkoopprestaties"><img src="Afbeeldingen\TheGreatLogo.png" alt="Naar Verkoopprestaties" /></a>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    </body>
</html>