<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Product Profit</title>
       
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/indexStyle.css') }}">
    </head>
    <body>
        <header>
            <div class="logo">
                <img src="{{ url_for('static', filename='afbeeldingen/logo_header.png') }}" alt="Logo">
                <h1 class="logoText">OutdoorFusion - Product Profit</h1>
                <a href="http://127.0.0.1:5000/"><img src="Afbeeldingen\TheGreatLogo.png" alt="Terug naar het hoofdmenu" /></a>
                <a href="http://127.0.0.1:5000/verkoopprestaties"><img src="Afbeeldingen\TheGreatLogo.png" alt="Naar Verkoopprestaties" /></a>
            </div>
            <nav class="upperNav">
                <ul>
                    <li><a href="">AenC</a></li>
                    <li><a href="">AdventureWorks</a></li>
                    <li><a href="">Northwind</a></li>
                </ul>
            </nav>
        </header>
                <div class="blackBar"></div>
    
    <link rel="stylesheet" type="text/css" href="/OutdoorFusion.css" />
    <title>AdventureWorks Dashboard</title>
    <div id="Menubalk">
    </div>
    
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <select id="productSelect">
        <option value="" disabled selected>Select a product</option>
        <!-- Options will be added dynamically using JavaScript -->
    </select>

    <div id="productInfoContainer">
        <!-- Product information will be displayed here -->
    </div>

    <div id="chartContainer">
        <!-- Chart will be displayed here -->
    </div>

    <script>
        $(document).ready(function() {
            // Make an AJAX request to retrieve the product options
            $.getJSON('/tablesVerkoopPrestaties', function(data) {
                var productOptions = data.tablesVerkoopPrestatie;

                // Update the select element with product options
                var select = $('#productSelect');
                $.each(productOptions, function(index, option) {
                    select.append($('<option></option>').attr('value', option).text(option));
                });
            });

            // Handle select change event
            $('#productSelect').on('change', function() {
                var selectedProduct = $(this).val();

                // Make an AJAX request to retrieve product information
                $.getJSON('/product_data', { product: selectedProduct }, function(response) {
                    var productInfo = response.productInfo;

                    // Update the product information container
                    $('#productInfoContainer').html(`
                        <h2>${selectedProduct}</h2>
                        <p>Unit Cost: ${productInfo.unitCost}</p>
                        <p>Unit Price: ${productInfo.unitPrice}</p>
                        <p>Profit: ${productInfo.profit}</p>
                        <p>Quantity: ${productInfo.quantity}</p>
                        <p>Revenue: ${productInfo.revenue}</p>
                    `);

                    // Make an AJAX request to retrieve the line graph data
                    $.getJSON('/chartMonthlyPerformance', { product: selectedProduct }, function(chartData) {
                        // Prepare the data for the line graph
                        var data = [];
                        $.each(chartData.chartData, function(index, item) {
                            var trace = {
                                x: item.months.slice(1),
                                y: item.changes,
                                mode: 'lines',
                                name: item.variable
                            };
                            data.push(trace);
                        });

                        // Set the layout for the line graph
                        var layout = {
                            title: `Monthly Performance for ${selectedProduct}`,
                            xaxis: {
                                title: 'Month'
                            },
                            yaxis: {
                                title: 'Change'
                            }
                        };

                        // Render the line graph using Plotly
                        Plotly.newPlot('chartContainer', data, layout);
                    });
                });
            });
        });
    </script>
</body>
</html>
