<!DOCTYPE html>
<html>
<head>
    <title>Verkoopprestaties</title>
    <a href="http://127.0.0.1:5000/"><img src="Afbeeldingen\TheGreatLogo.png" alt="Terug naar het hoofdmenu" /></a>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h1>Verkoopprestaties</h1>
    <a href="http://127.0.0.1:5000/productprofit"><img src="Afbeeldingen\TheGreatLogo.png" alt="Naar Product Profit" /></a>
    <a href="http://127.0.0.1:5000/productinzien"><img src="Afbeeldingen\TheGreatLogo.png" alt="Naar Product Inzien" /></a>
    <a href="http://127.0.0.1:5000/northwindprestaties"><img src="Afbeeldingen\TheGreatLogo.png" alt="Naar Northwindprestaties" /></a>
    <a href="http://127.0.0.1:5000/bikestoreprestaties"><img src="Afbeeldingen\TheGreatLogo.png" alt="Naar bikestoreprestaties" /></a>


</body>
</html>
