<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OutdoorFusion</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/indexStyle.css') }}">
</head>
<body>
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='afbeeldingen/logo_header.png') }}" alt="Logo">
            <h1 class="logoText">OutdoorFusion</h1>
        </div>
        <nav class="upperNav">
            <ul>
                <li><a href="">AenC</a></li>
                <li><a href="">AdventureWorks</a></li>
                <li><a href="">Northwind</a></li>
            </ul>
        </nav>
    </header>
            <div class="blackBar"></div>
    <main>
        <div id='chart' class='chart'”></div>
    </main>
    <footer>
        <nav class="bottomNav">
            <h2>LINKS</h2>
            <ul>
                <li><a href="">AenC</a></li>
                <li><a href="">AdventureWorks</a></li>
                <li><a href="">Northwind</a></li>
            </ul>
        </nav>
    </footer>
</body>
<script type='text/javascript'>
    var graphs = {{graphJSON | safe}};
    Plotly.plot('chart',graphs,{});
  </script>
</html>