<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OutdoorFusion</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/voorraadbeheerStyle.css') }}">
</head>
<body>
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='afbeeldingen/logo_header.png') }}" alt="Logo">
            <h1 class="logoText">OutdoorFusion</h1>
        </div>
        <nav class="upperNav">
            <ul>
                <li><a href="{{ url_for('klanten') }}">Klantendashboard</a></li>
                <li><a href="{{ url_for('verkoopprestaties') }}">Verkoopprestaties</a></li>
                <li><a href="{{ url_for('voorraad') }}">Voorraadbeheer</a></li>
                <li><a href="{{ url_for('feiten') }}">Feiten</a></li>
                <li><a href="{{ url_for('voorraadVoorspelling') }}">Operationele efficientie</a></li>
            </ul>
        </nav>
    </header>
            <div class="blackBar"></div>
            <div class="terug">    
                <a href="{{ url_for('voorraad') }}">Ga terug</a>
            </div>
    <main>
        <div class="chart_card">
            <h2>Northwind</h2>
            <h2>Inzicht op basis van de eenheidsprijs en de hoeveelheid in voorraad</h2>
            <div id='chart2' class='chart2'></div>
            <div id='chart1' class='chart1'></div>
        </div>
        <div class="chart_card">
            <h2>A en C</h2>
            <h2>Inzicht op basis van de eenheidsprijs en de hoeveelheid in voorraad</h2>
            <div id='chart3' class='chart3'></div>
            <div id='chart4' class='chart4'></div>
        </div>
         <div class="chart_card">
            <h2>Adventure</h2>
            <div id='chart5' class='chart5'></div>
            <div id='chart6' class='chart6'></div>
        </div>
    </main>
    <footer>
        <nav class="bottomNav">
            <h2>LINKS</h2>
            <ul>
                <li><a href="">AenC</a></li>
                <li><a href="">AdventureWorks</a></li>
                <li><a href="">Northwind</a></li>
            </ul>
        </nav>
    </footer>
</body>

<script type='text/javascript'>
    var graphs = {{northwind_category_omzet | safe}};
    var graphs2 = {{northwind_omzet | safe}};
    var graphs3 = {{aenc_omzet | safe}};
    var graphs4 = {{aenc_category_omzet | safe}};
    var graphs5 = {{adventure_omzet | safe}};
    var graphs6 = {{adventure_category_omzet | safe}};
    
    
    Plotly.plot('chart1',graphs,{});
    Plotly.plot('chart2',graphs2,{});
    Plotly.plot('chart3',graphs3,{});
    Plotly.plot('chart4',graphs4,{});
    Plotly.plot('chart5',graphs5,{});
    Plotly.plot('chart6',graphs6,{});



  </script>
</html>















 <!-- <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
        // Function to fetch the chart data from the server for a specific category
        function fetchChartData(category) {
            const url = '/chartProductQuantity?type=line';

            fetch(url)
                .then(response => response.json())
                .then(data => {
                    const chartData = data.data.filter(d => d.name === category);
                    const chartLayout = data.layout;

                    const chartContainer = document.createElement('div');
                    chartContainer.setAttribute('id', `chart-container-${category}`);
                    document.body.appendChild(chartContainer);

                    Plotly.newPlot(`chart-container-${category}`, chartData, chartLayout);
                })
                .catch(error => console.error('Error:', error));
        }

        // Call the function to fetch and display the chart data for each category
        const categories = ['Beverages', 'Condiments', 'Confections', 'Dairy Products', 'Grains/Cereals', 'Meat/Poultry', 'Produce', 'Seafood'];
        categories.forEach(category => {
            fetchChartData(category);
        });
    </script> -->